
__pycache__/
*.py[cod]

results/
!results/.gitkeep

.vscode/
.idea/

.DS_Store
Thumbs.db
desktop.ini

chromedriver.exe
chromedriver_mac*
chromedriver_linux*

htmlcov/
*.cover
*.pytest_cache/

build/
dist/
*.egg-info/
.eggs/