__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
*.sqlite3
*.db
*.log

.vscode/
.idea/
*.swp
*.bak
*.tmp

.DS_Store
Thumbs.db

results/
!results/.gitkeep

*.pid
docker-compose.override.yml

pip-wheel-metadata/
pip-log.txt

desktop.ini

chromedriver.exe
chromedriver_mac*
chromedriver_linux*

node_modules/

htmlcov/
coverage.xml
*.cover
*.pytest_cache/

build/
dist/
*.egg-info/
.eggs/